{% extends 'layout.html' %}
{% block body %}

<div class="container-fluid">
  <div class="row">
      <div class="col-md-12" style="height:100px"></div>
  </div>


    <div class="row">



    <div class="col-md-offset-4 col-md-4">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}

    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <div class="col-sm-offset-6">
                <h1 class="lead">Sign up</h1>
            </div>
        </div>

         <div class="form-group">
             <label for="inputFirstName" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputFirstName" name="first_name" placeholder="First name" required>
                </div>
        </div>

         <div class="form-group">
             <label for="inputLastName" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputLastname" name="last_name" placeholder="Last name" required>
                </div>
        </div>

        <div class="form-group">
             <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
                </div>
        </div>

         <div class="form-group">
             <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
                </div>
        </div>

          <div class="form-group">
             <label for="retypeInputPassword" class="col-sm-2 control-label">Retype password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="retypeInputPassword" name="retype_password" placeholder="Retype password" required>
                </div>
        </div>

         <div class="form-group">
            <div class="col-sm-offset-6 col-sm-6" style="padding-bottom:50px">
                <button type="submit" class="btn btn-md btn-primary">Sign up</button>
            </div>
        </div>

    </form>

    </div>

    </div>
</div>

{% endblock %}

